input#landing_page_input {
	max-width: 600px;
	width: 100%;
	min-width: 400px;
}
@media screen and (max-width: 440px) {
	input#landing_page_input {
		min-width: 300px;
	}
}
@media screen and (max-width: 350px) {
	input#landing_page_input {
		min-width: 200px;
	}
}

.search-inner {
	max-width: 630px;
	margin: auto;
}

.search-icon {
	background: transparent;
	border: none;
	color: #636261;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}
.search {
	transition: all 0.3s;
	width: 80px;
	border: none;
	margin-right: 20px;
	font-size: 14px;
	background: transparent;

	&:focus {
		width: 200px;
		transition: all 0.3s;
	}

	& {
		outline: none;
		color: #bebfc1;
	}
}

.Search-result {
	position: absolute;
	z-index: 9;
	background: #1a1a1b;
	max-height: 230px;
	width: 300px;
	border: solid 1px #24292f;
	overflow: auto;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	top: 44px;
	left: 0;

	.search-result {
		padding: 0;
		list-style: none;
		margin: 0;
		text-align: left;

		li {
			a {
				display: block;
				padding: 10px;
				font-size: 13px;
				transition: all 0.3s;
				color: #fff;

				&:hover {
					background: #24292f;
					transition: all 0.3s;
					text-decoration: none;
				}

				img {
					width: 21px;
					border-radius: 33px;
					margin-right: 6px;
				}
			}
		}
	}
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-wrapper {
	margin-right: 60px;
	transition: all 0.4s;

	&.open {
		height: 35px;
		overflow: visible;
	}
}

.Search-result::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar {
	width: 6px;
}

.Search-result::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Search-result::-webkit-scrollbar-thumb {
	background-color: #5bd0a4;
	outline: 1px solid #5bd0a4;
	border-radius: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #5bd0a4;
	outline: 1px solid #5bd0a4;
	border-radius: 12px;
}

// for firefox
* {
	scrollbar-width: thin;
	scrollbar-color: #5bd0a4 transparent;
}

@media (max-width: 767px) {
	.search {
		&:focus {
			width: 80px;
			transition: all 0.3s;
		}
	}
	.content-area div input {
		height: 42px;
		padding: 20px;
		font-size: 13px;
		width: 85%;
	}

	.content-area {
		width: 100%;
	}

	.search-result p {
		font-size: 13px;
		padding: 10px;
		margin: 0;
	}

	.mob-font-size-13 {
		font-size: 13px;
	}

	.search-wrapper {
		transition: all 0.4s;
		overflow: hidden;
		margin-right: 0;
	}

	.Search-result {
		width: 100%;
	}

	.following-area {
		padding-left: 0;
	}
}
