@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:400,500|Sen&display=swap');
body {
	font-family: 'Sen', sans-serif;
	background-color: #F5F5F5;
}
h1,h2,h3,h4,h5 {
	font-family: 'Montserrat', sans-serif;

}

/* Global color decleartion */
$blueheader: #24292E;
$buttonPrimary: #54A3FF;


.navbar-brand  {
	svg{width: 120px;}
}

.search-icon {
    background: transparent;
    border: none;
    color: #636261;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
.night-mode {
	a{
		color: #fff !important;
		&:hover {
		color: #fff !important;
		}
	}
	background: #1a1a1b;
	color: #fff !important;
	.card {
		background: #24292E;
		border-color: #171a1d;
	}
}

.font-size-11 {
	font-size: 11px;
}

.font-size-12 {
	font-size: 12px;
}

.font-size-13 {
	font-size: 13px;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-15 {
	font-size: 15px;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-17 {
	font-size: 17px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-19 {
	font-size: 19px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-21 {
	font-size: 21px;
}

header {
	background: $blueheader;
}

button {
	&:focus {
		outline: none;
	}
}

.text-light-gray {
	color: #BEBFC1;
}

.search {
	transition: all 0.3s;
	width: 80px;
	border: none;
	margin-right: 20px;
	font-size: 14px;
	background: transparent;
	&:focus {
	width: 200px;
	transition: all 0.3s;

	}
	& {
		outline: none;
		color: #BEBFC1;
	}
}

.logo {
	font-size: 14px;
	font-family: 'Comfortaa', cursive;
	img {
		width: 27px;
		margin-right: 10px;
	}
}

.card {
	border-radius: 0;
	border-color: whitesmoke;
}

.member-image img {
	width: 110px;
	border-radius: 4px;
}

.left-image-avtar {
	width: 135px;
	padding-left: 24px;
}

.email {
	width: 14px;
	margin-right: 4px;
}

.git-icon {
	width: 18px;
}

.btn {
	position: relative;
	min-width: 121px;
	border-radius: 3px;
	font-size: 14px;
	line-height: initial;
	padding: 9px 0;
	&:focus,
	&:active {
		outline: none !important;
		box-shadow: 0 0 0 !important;
	}
}

.btn-primary {
	background-color: $buttonPrimary;
	border-color: $buttonPrimary;
	&:hover {
		background-color: $buttonPrimary;
		border-color: $buttonPrimary;
	}
}

.follow-details img{
	width: 22px;
    margin-left: 7px;
    background: #fff;
    padding: 2px;
    border-radius: 34px;
    height: 21px;
}

.btn-primary.outline {
	background: transparent;
	color: $buttonPrimary;
	&:after {
		position: absolute;
		width: 0%;
		height: 100%;
		background: $buttonPrimary;
		content: '';
		left: 0;
		top: 0;
		transition: all 0.2s;
	}
	&:hover:after {
		width: 100%;
	}
	&:hover span,
	&:hover img {
		color: #fff;
		z-index: 9;
		position: relative;
	}
}

.change-theme {
	min-width: 110px;
	button {
		border: none;
		background: transparent;
		color: #fff;
		cursor: pointer;
	}
	img {
		width: 15px;
	}
}

.total-badge {
	max-width: 120px;
    background: #2196F3;
    width: 40px;
    border-radius: 3px;
    padding: 0 7px;
    font-size: 12px;
    color: #fff;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-top: 10px !important;
}

.Search-result {
    position: absolute;
    z-index: 9;
    background: #1a1a1b;
    max-height: 230px;
    width: 300px;
    border: solid 1px #24292f;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 50px;
	right: 0;
	.search-result {
		padding: 0;
		list-style: none;
		margin: 0;
		li{
			a{
				display: block;
				padding: 10px;
				font-size: 13px;
				transition: all 0.3s;
				&:hover{
					background: #24292f;
					transition: all 0.3s;
					text-decoration: none;
				}
				   img{
				
						width: 21px;
						border-radius: 33px;
						margin-right: 6px;
				   }
			}
		}
	}
}

.css-y1c0xs, [data-css-y1c0xs] {
	max-height: 190px;
}
.css-13azwyo .p-5 {
	padding: 10px !important;
	font-size: 13px; 
}